body{
            background-color: #013A33;
            font-family: helvetica;
        }
        .inner-heading{
          background: url(photos/inner-heading.jpg);  
          padding: 30px 0;
          background-size: 100%;
          background-repeat: no-repeat;
        }
        .container{
            color: white;
        }
        .about-section{
            margin-top: 30px;
        }
        a:hover{
            background-color: white;
            color: black;
        }
          .last{
    background-color: #002A28;
     color: rgb(20, 243, 120);
   }
   .nav-link{
    color: white;
   }
  .nav-link:hover{
    background-color: white;
    color: black;
  }
  .imgicon{
    margin: 0;
  }
  .col-md-5 .container{
    padding-left: 0;
    font-weight: lighter;
  } 
  img:hover{
    background-color: grey;
  }   